In [41]:
import pandas as pd 
import requests 
from bs4 import BeautifulSoup

In [42]:
headers = {
    'User-Agent': 'Mozilla/5.0 (Windows NT 6.3; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/80.0.3987.162 Safari/537.36'
}

webpage = requests.get("https://www.ambitionbox.com/list-of-companies?page=1",headers=headers).text

In [43]:
soup = BeautifulSoup(webpage,'lxml')

In [44]:
# fetching data whole data of the company 
company = soup.find_all("div",class_= "companyCardWrapper")
len(company)

20

In [45]:
name = []
rating = []
reviews = []
salaries = []
interviews = []
jobs = []
benefits = []

for i in company:
    name.append(i.find('h2').text.strip())
    rating.append(i.find_all('span',class_='companyCardWrapper__companyRatingValue')[0].text.strip())
    reviews.append(i.find_all('span',class_="companyCardWrapper__ActionCount")[0].text.strip())
    salaries.append(i.find_all("span",class_="companyCardWrapper__ActionCount")[1].text.strip())
    interviews.append(i.find_all("span",class_="companyCardWrapper__ActionCount")[2].text.strip())
    jobs.append(i.find_all("span",class_="companyCardWrapper__ActionCount")[3].text.strip())
    benefits.append(i.find_all("span",class_="companyCardWrapper__ActionCount")[4].text.strip())
    # salaries.append(i.find_all("span",class_="companyCardWrapper__ActionCount")[5].text.strip())

d= {"name" : name , "ratings":rating , "reviews" : reviews ,"salaries" :salaries , "interviews":interviews,"jobs":jobs , "benefits" : benefits}
df = pd.DataFrame(d)
df

,name,ratings,reviews,salaries,interviews,jobs,benefits
0,TCS,3.8,65.7k,732.8k,5.4k,118,10.4k
1,Accenture,4.1,41.9k,513.1k,3.7k,11.8k,6.5k
2,Cognizant,3.9,38k,496.2k,3.2k,586,5.4k
3,Wipro,3.8,34.9k,368.3k,3.2k,1.3k,4.5k
4,ICICI Bank,4.0,30.6k,135.7k,1.7k,215,3.6k
5,HDFC Bank,3.9,30.3k,123.5k,1.4k,419,3.1k
6,Infosys,3.9,28.8k,412.9k,4.4k,743,4.6k
7,Capgemini,3.8,26.6k,336.1k,2.2k,760,3.6k
8,Tech Mahindra,3.7,24.9k,235.5k,2.2k,1.4k,3.3k
9,HCLTech,3.7,24.4k,250k,2.2k,656,3.7k
10,Genpact,3.9,24k,176k,1.7k,691,3.4k
11,Axis Bank,3.8,20.1k,93.5k,986,299,2.1k
12,Concentrix Corporation,3.9,19.5k,96.9k,958,170,3.1k
13,Amazon,4.2,18.9k,116.2k,3.1k,698,4k
14,Reliance Jio,3.9,18.3k,63.6k,1.1k,160,2.5k
15,IBM,4.1,18.3k,198k,1.4k,3.8k,2.5k
16,Larsen & Toubro Limited,4.0,17.2k,76.6k,946,157,2.7k
17,Reliance Retail,3.9,16.4k,54.1k,1k,252,1.8k
18,HDB Financial Services,4.0,16.2k,48.8k,516,135,1.5k
19,Teleperformance,3.6,15.5k,73.2k,1k,251,1.8k

In [46]:
df.shape

(20, 7)

In [47]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

final = pd.DataFrame()

for j in range(1, 6):
    url = f"https://www.ambitionbox.com/list-of-companies?page={j}"
    headers = {'User-Agent': 'Mozilla/5.0 (Windows NT 6.3; Win 64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/80.0.3987.162 Safari/537.36'}

    webpage = requests.get(url, headers=headers).text
    soup = BeautifulSoup(webpage, 'lxml')

    company = soup.find_all('div', class_='company-content-wrapper')

    name = []
    rating = []
    reviews = []
    salaries = []
    interviews = []
    jobs = []
    benefits = []

    for i in company:
        name.append(i.find('h2').text.strip())
        rating.append(i.find('span', class_='company-rating').text.strip())
        reviews.append(i.find('span', class_='reviews').text.strip())
        salaries.append(i.find('span', class_='salaries').text.strip())
        interviews.append(i.find('span', class_='interviews').text.strip())
        jobs.append(i.find('span', class_='jobs').text.strip())
        benefits.append(i.find('span', class_='benefits').text.strip())

    data = {
        "Name": name,
        "Rating": rating,
        "Reviews": reviews,
        "Salaries": salaries,
        "Interviews": interviews,
        "Jobs": jobs,
        "Benefits": benefits
    }

    df = pd.DataFrame(data)
    final = pd.concat([final, df], ignore_index=True)

print(final.to_csv("company_data.csv", index=False))

None

In [48]:
final.shape

(0, 7)

In [49]:
final=pd.DataFrame()
for j in range(1,3):
  webpage=requests.get('https://www.ambitionbox.com/list-of-companies?page={}'.format(j)).text
  soup=BeautifulSoup(webpage,'lxml')
  company=soup.find_all('div',class_='company-content-wrapper')
  name=[]
  rating=[]
  reviews=[]
  ctype=[]
  hq=[]
  how_old=[]
  no_of_employee=[]

  for i in company:

    try:
       name.append(i.find('h2').text.strip())
    except:
       name.append(np.nan)

    try:
       rating.append(i.find('p',class_='rating').text.strip())
    except:
       rating.append(np.nan)
   
    try:

      reviews.append(i.find('a' , class_='review-count').text.strip())
    except:
      reviews.append(np.nan)

    try:

      ctype.append(i.find_all('p',class_='infoEntity')[0].text.strip())
    except:
      ctype.append(np.nan)
    try:

      hq.append(i.find_all('p',class_='infoEntity')[1].text.strip())
    except:
      hq.append(np.nan)
    
    try:

      how_old.append(i.find_all('p',class_='infoEntity')[2].text.strip())
    except:
      how_old.append(np.nan)
    try:
      no_of_employee.append(i.find_all('p',class_='infoEntity')[3].text.strip())
    except:
      no_of_employee.append(np.nan)
    

  df=pd.DataFrame({'name':name,
    'rating':rating,
    'reviews':reviews,
    'company_type':ctype,
    'Head_Quarters':hq,
    'Company_Age':how_old,
    'No_of_Employee':no_of_employee,
    })
  
  final = pd.concat([final, df], ignore_index=True)

final

Empty DataFrame
Columns: [name, rating, reviews, company_type, Head_Quarters, Company_Age, No_of_Employee]
Index: []